<h1>mgiribone</h1>
<div class="container">
  <div class="row">
    <div class="col"  style="background-color:rgb(241, 102, 107)">
      <app-sidenav class="navbar"  ></app-sidenav>
    </div>  
  </div> 
  <div class="row">
    <div class="col-md-4" style="background-color:rgb(129, 179, 80)">
      <app-students-page class="students" ></app-students-page>
    </div>  
   
  
    <div class="col-md-8" style="background-color:rgb(128, 197, 200)">
      <app-toolbar class="toolbar" ></app-toolbar>
    </div>  
  </div> 
</div>


